flask
flask-cors
numpy
pandas
scipy
fastdtw
gunicorn
werkzeug
simplejson
pymavlink
ardupilot_log_reader==0.2.1
pfc-geometry==0.2.4
flightdata==0.2.6
flightanalysis==0.2.6
ardupilot-log-reader==0.2.1
loguru
joblib